.about {
    padding-top: 80px;
    padding-bottom: 80px;
}

.about__wrapper {
    display: flex;
    justify-content: center;
}

.about__pic {
    margin-right: 100px;
}

.about__wrapper-text {
    width: 400px;    
} 

.about__title {
    font-size: 35px;
    line-height: 45px;
    font-weight: 300;
}