body {
  min-width: 1250px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 15px;
  line-height: 24px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  color: #545454;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.button {
  text-align: center;
  font-family: Geargia; // Уточнить

  font-size: 18px;
  line-height: 25px;

  text-decoration: none;

  box-sizing: border-box;
  display: block;
  margin: 0;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: all 0.2s;

  width: 200px;
  padding: 15px 30px;
  color: #292929;



  // border: 1px solid #e8be7b;
  background-color: $contrast-color;
  border-radius: 30px;




  &:focus,
  &:hover {
    background-color: #fddcc4;
    // color: #e8be7b;
  }

  &:active {

  }

  &.disabled,
  &:disabled {
    border-color: #333;
    background-color: #333;
    opacity: 0.7;
    cursor: not-allowed;
  }
}
